.descProd{
    display: flex;
    flex-direction: row;
    width:700px ;
    margin-top: 130px;
    margin-left: 50px;
}

.descricao{
    width: 600px;
    padding-top:20px ;
    padding-right: 10px;
}

.precoProd{
    margin-top: 19px;
    display: flex;
    flex-direction: column;

}
.precoProd label {
    margin-top: 15px;
}

.precoProd select{
    width: 40px;
}

.precoProd button{
    padding: 5px;
    margin: 5px;
}